<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold d-flex align-items-center gap-1" routerLink="/">
      <span class="material-icons">receipt_long</span> Facturación
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/clientes"
            routerLinkActive="active"
            class="nav-link d-flex align-items-center gap-1">
            <span class="material-icons" style="font-size:18px">group</span> Clientes
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/productos"
            routerLinkActive="active"
            class="nav-link d-flex align-items-center gap-1">
            <span class="material-icons" style="font-size:18px">inventory_2</span> Productos
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Contenido de la ruta activa -->
<router-outlet></router-outlet>
